.city {
  border-radius: 0 20px;
  color: #0da0ea;
  font-size: 18px;
  line-height: 51px;
  text-align: center;
  background-color: #0da0ea17;
}

@media (max-width: 576px) {
  .city {
    font-size: 15px;
  }
}
