ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

ul .forecast-square {
  margin: 5px;
  width: 90px;
  text-align: center;
}

ul .forecast-max-temp,
ul .forecast-min-temp {
  font-size: 15px;
}

ul .forecast-min-temp {
  color: #21252979;
}

.forecast-image {
  display: block;
  margin: 0 auto;
  width: 40px;
}

@media (max-width: 576px) {
  ul {
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: normal;
    overflow-x: scroll;
  }

  ul .forecast-square {
    margin: 20px;
  }
}
