ul {
  list-style-type: none;
  flex-wrap: nowrap;
  display: flex;
  padding: 0;
  align-items: flex-end;
  overflow-x: auto;
  margin: 0;
}

ul .forecast-square {
  margin: 0 10px 20px 10px;
  width: 120px;
  text-align: center;
}

.forecast-image {
  display: block;
  margin: 0 auto;
  width: 40px;
}
