ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

ul .forecast-square {
  margin: 10px;
  width: 120px;
  text-align: center;
}

.forecast-image {
  display: block;
  margin: 0 auto;
  width: 40px;
}

@media (max-width: 576px) {
  ul {
    flex-wrap: nowrap;
    align-items: flex-end;
    overflow-x: scroll;
  }

  ul .forecast-square {
    margin: 20px;
  }
}
