.weather-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  height: 720px;
  margin-left: -20px;
  position: relative;
  z-index: 1;
}

.col-4,
.col-8 {
  padding: 0;
}

.main-temp {
  color: black;
  font-size: 58px;
}

.main-temp-degrees,
.max-min-temp {
  color: #666666;
  font-size: 16px;
}

.current-temp-section {
  text-align: center;
}

.weather-icon {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.img-current {
  display: block;
  margin: 0 auto;
  width: 90px;
}

.weather-square {
  text-align: center;
  padding: 20px 0;
}

.main-temp-degrees {
  position: relative;
  top: -28px;
}

.arrow-up {
  color: #666666;
  font-size: 9px;
  position: relative;
  top: -6px;
}

.arrow-down {
  color: #666666;
  font-size: 9px;
}

form {
  display: flex;
  align-items: center;
}

.text-input {
  border: 0px solid #6666664a;
  background: #e9f6fd;
  padding: 2px 7px;
  margin: 12px 0px 12px 18px;
  border-radius: 5px 0 0px 5px;
  width: 100%;
}

.text-input::placeholder {
  color: #0da0ea;
}

.button-input {
  background-color: #0da0ea;
  color: white;
  border-radius: 0 5px 5px 0;
  border: 0px solid transparent;
  padding: 2.5px 8px;
  margin: 0 8px 0 0;
}

@media (max-width: 576px) {
  body {
    padding: 0;
  }

  form {
    margin-left: 5px;
  }

  .weather-container {
    background-color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: none;
    margin: -20px 0 20px 0;
    position: relative;
    z-index: 1;
    padding: 0;
  }

  .text-input::placeholder {
    font-size: 14px;
  }

  .app {
    margin: 0;
    padding: 0;
  }
}
