.weather-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  height: 460px;
  margin-left: -20px;
  position: relative;
  z-index: 1;
}

.day-main-img {
  height: 465px;
}

.col-4,
.col-8 {
  padding: 0;
}

.main-temp {
  color: black;
  font-size: 55px;
}

.main-temp-degrees,
.max-min-temp {
  color: #666666;
  font-size: 15px;
}

.city {
  border-radius: 0 20px;
  color: #0da0ea;
  font-size: 18px;
  line-height: 51px;
  text-align: center;
  background-color: #0da0ea17;
}

.current-temp-section {
  text-align: center;
}

.weather-icon,
.img-current {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.weather-square {
  text-align: center;
  padding: 30px 0;
}

.main-temp-degrees {
  position: relative;
  top: -28px;
}

.arrow-up {
  color: #666666;
  font-size: 9px;
  position: relative;
  top: -6px;
}

.arrow-down {
  color: #666666;
  font-size: 9px;
}

form {
  display: flex;
  align-items: center;
}

.text-input {
  border: 1px solid #666666;
  padding: 2px 5px;
  margin: 12px 4px 12px 12px;
  border-radius: 5px;
  width: 100%;
}

.button-input {
  background-color: #0da0ea;
  color: white;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 2.5px 8px;
  margin: 0 8px 0 0;
}
